﻿@model CashMachine.Models.Item
@{
    ViewBag.Title = "AddItem";
}

<script type="text/javascript">
    window.onload = function () {
        document.getElementById("additem").addEventListener('submit', function (event) {
            var valid = document.getElementsByClassName("valid")[0];
            clearAllChildren(valid);
            var regexp = /^\d+$/;

            var price = $('#Price').val();
            if (!(null !== price && 0 < price.length && regexp.test(price))) {
                event.preventDefault();

                var par = document.createElement("p");
                par.textContent = "Не коректный ввод цены"
                par.setAttribute("style", "color: red");
                valid.appendChild(par);
            }
            
        });
    }

    function clearAllChildren(parent) {
        while (parent.firstChild) {
            parent.removeChild(parent.firstChild);
        }
    }
</script>
<h2>AddItem</h2>
@using (Html.BeginForm("AddItem", "Home", FormMethod.Post, new { @id = "additem" }))
{
    @Html.ValidationSummary(false)
    <div class="valid"> </div>
    <div>
        Наименование
        <div>

            @Html.EditorFor(model => model.ItemName, new { @id = "Name" })
        </div>
    </div>
        <br />
        <div>
            Цена
            <div>
                @Html.EditorFor(model => model.Price, new { @id = "Price" })
            </div>
        </div>
        <br/>
        <div>
            <div>
                <input type="submit" value="Добавить" class="btn btn-success green" />
            </div>
        </div>
}