﻿@model CashMachine.Models.CheckElement

@{
    ViewBag.Title = "Чек";
}

<div>
    <h2>Сформированая покупка</h2>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td class="col-md-8">Название</td>
                <td class="col-md-1">Количество</td>
                <td class="col-md-1">Цена, ед.</td>
                <td class="col-md-2">Стоимость</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var b in ViewBag.Items)
            {
                <tr>
                    <td>@b.ItemName</td>
                    <td>@b.Ammount</td>
                    <td>@b.Price</td>
                    <td>@b.Cost</td>

            </tr>
            }
        </tbody>
    </table>
    <div class="col-md-4">
        <div>Дата: @ViewBag.Items[0].Date</div>
    </div>
    <div class="col-md-4 col-md-offset-4" >
        <div align="right">Общая стоимость: @ViewBag.Items[0].Total</div>
    </div>
</div>
