﻿@using CashMachine.Models;
@model CashMachine.Models.Purchase
@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    var i = 1;

    function sendData()
    {
        var array;
    }
</script>
<div class="row">
    <div class="col-md-4 col-md-offset-8" >
        <h2>Количество заказов сегодня: @ViewBag.Today</h2>
    </div>
@using (Html.BeginForm("Buy", "Home", FormMethod.Post, new {  }))
            {
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Название</td>
                    <td>Цена</td>
                    <td>Количество</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>

                @foreach (var b in ViewBag.Items)
                {
                    <tr>
                        <td>
                            <script>
                                document.write(i);
                                i++;
                            </script>
                            <input id="Ids" name="ids" type="hidden" value="@b.ItemId" />
                        </td>
                        <td>@b.ItemName</td>
                        <td>@b.Price</td>
                        <td><input id="Sums" name="sums" type="number" min="0" step="1" /></td>
                        <td>@using (Html.BeginForm("Delete", "Home", new { id = b.ItemId }))
                        {
                                <button class="btn btn-danger btn-xs" type="submit">Удалить</button>
                        }
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-md-4">
        <div>@Html.ActionLink("Добавить товар", "AddItem", "Home", null, new { @class = "btn btn-default" })</div>
    </div>
    <div class="col-md-4" >
        <div><input type="submit" value="Сформировать чек" class="btn btn-success green" /></div>
    </div>
            }
</div>